.links-nav{
  font-size: 18px;
  font-weight: 700;
  color: white;
}
ul.list-video li .thumb img{
   height: 200px !important;
}
.video-js .vjs-tech {
  position: relative;
}
.video-js {
  width: 100%;
  height: auto;
}
